.parent{
    width: 500px;
    height: 500px;
}

/* .parent .child{
    background-color: yellow;
} */

/* .parent>div>div>h1{
    background-color: red;
} */

/* h1.child{
    background-color: bisque;
}

div.parent{
    background-color: aquamarine;
} */

/* div,h1{
    background-color: red;
} */

/* input */

/* input[type='text']{
    background-color: aqua;
    width: 400px;
}

input[type='password']{
    background-color: red;
} */

/* a:link{
    color: chartreuse;
}

a:visited{
    color: red;
}

a:hover{
    color:aqua
}

a:active{
    color:slateblue;
} */

/* .container{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
}

div:hover{
    background-color: aquamarine;
} */

/* .child{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    background-color: aqua;
}

.container>div:nth-child(even){
    background-color: blueviolet;
} */


/* .container::before{

    content:' before'
}

.container::after{

    content: ' after';
} */

/* div{

}

#id{

} */

*{
    padding: 0;
    margin: 0;
}

body{
    height: 200vh;
}
/* .container{
    width: 200px;
    height: 200px;
    background-color: aqua;
    position: relative;
    top:50px;
    left:50px;
    margin-top: 50px;
    margin-left: 50px;
} */

/* .second-container{
    width: 200px;
    height: 200px;
    background-color: bisque;
} */

.container{
    width: 500px;
    height: 500px;
    background-color: aqua;
    /* position: absolute; */
    /* left:50px; */
    /* right:50px; */
    position: relative;
}

/* .second-container{
    width: 300px;
    height: 300px;
    background-color:;
} */

/* .child{
    width: 200px;
    height: 200px;
    background-color: bisque;
    position:absolute;
    right:50px;
    bottom:50px;
} */

.container{

    width: 200px;
    height: 200px;
    background-color: bisque;
    position:fixed;
    right:0;
    top:30px;
}